services:
    nginx:
        image: nginx:latest
        ports:
            - "8086:80"
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
        depends_on:
            - ml-service_blue
            - ml-service_green